#pad{
  display: grid;
  background-color: beige;
  width: 400px;
  height: 200px;
  border: #2980b9;
  margin: 15px;
}

/* .buttons {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  height: 30px;
} */

#but {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: #3498db;
  border: 2px solid #2980b9;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}  
