.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px; 
  justify-items: center; 
  align-items: center; 
  width: 300px;
  height: 200px;

}




#but {
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: #3498db;
  border: 2px solid #2980b9;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  justify-items: stretch;

}  

