#pad{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: beige;
  width: 400px;
  height: 300px;
  border: #2980b9;
  float: left;
}



#but {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #3498db;
  border: 2px solid #2980b9;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}  

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 1;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 2;
}